*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h1{
    font-size:6vmin;
}
.nav{
    background-color: black;
    color:white;
    position:fixed;
    bottom:0;
    text-align: center;
    width:100vw;
    height:7vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.second p{
    margin-top:0.5rem;
    font-weight: 700;
}
.main p{
    font-size:3vmin;
}
.btn{
    border:1.5px solid black;
    background-color: black;
    color:white;
    padding:0.7rem;
    border-radius: 20px;
    margin-top: 1rem;
}
.btn:hover{
    opacity: 0.6;
}
.btn:active{
    cursor: pointer;
}
.dark {
    background-color: black;
    color:white;
}
.dark .nav{
    color:black;
    background-color: white;
}
.dark .btn{
    background-color: white;
    color:black;
}
.dark .first p{
    color:white;
}

@media(max-width:1024px){
    .btn{
        font-size:1.7rem;
        padding:0.8rem;
    }
    .main p{
        font-size:1.8rem;
    }
    .first p{
        margin-bottom: 1rem;
    }
    .p{
        margin-top:2rem;
    }
    .nav{
        height:5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav p{
        font-size:1.7rem;
    }
}
@media (min-width:1024px){
    .btn{
        font-size:1.1rem;
        padding:0.8rem;
    }
    nav p{
        font-size:1.2rem;
    }

}
@media(max-width:600px){
    .btn{
        font-size:0.9rem;
        padding:0.5rem;
    }
    .main p{
        font-size:0.9rem;
    }
    .first p{
        margin-bottom: 1.2rem;
    }
    .p{
        margin-top:2rem;
    }
    .nav{
        height:5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav p{
        font-size:0.9rem;
    }
    h1{
        font-size:2.2rem;
    }
}